# Import Libraries

In [1]:
# import pandas, numpy, and os
import pandas as pd
import numpy as np
import os

# Import Datasets

In [2]:
# create path shortcut
path = r'/Users/mimielaurant/Documents/Career Foundry/Immersion_Achievement 4/Instacart Basket Analysis'

In [3]:
# import orders.csv dataset
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)

In [4]:
# import products.csv dataset
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

# Data Wrangling

## Dropping Columns

In [52]:
# drop eval_Set column from orders.csv
df_ords.drop(columns = ['eval_set'])

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
...,...,...,...,...,...,...
3421078,2266710,206209,10,5,18,29.0
3421079,1854736,206209,11,4,10,30.0
3421080,626363,206209,12,1,12,18.0
3421081,2977660,206209,13,1,12,7.0
3421082,272231,206209,14,6,14,30.0

In [55]:
# delete eval_set column
df_ords = df_ords.drop(columns = ['eval_set'])

In [57]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [59]:
# find missing values in days_since_prior_order column in orders.csv
df_ords['days_since_prior_order'].value_counts(dropna = False)

KeyError: 'days_since_prior_order'

## Renaming columns

In [ ]:
# rename order_dow column in orders.csv
df_ords.rename(columns = {'order_dow' : 'orders_day_of_week'}, inplace = True)

In [ ]:
df_ords.head()

## Changing Data Types

In [ ]:
# change order_id data type to string
df_ords['order_id'] = df_ords['order_id'].astype('str')

In [ ]:
df_ords['order_id'].dtype

## Transposing Data

In [ ]:
# import departments.csv dataset
df_dep = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'departments.csv'), index_col = False)

In [ ]:
df_dep.head()

In [ ]:
# transpose df_dep
df_dep.T

In [ ]:
# create new df_dep dataframe from transposed version
df_dep_t = df_dep.T

In [ ]:
df_dep_t

In [ ]:
# add an index to df_dep_t
df_dep_t.reset_index()

In [ ]:
# create a new header
new_header = df_dep_t.iloc[0]

In [ ]:
new_header

In [ ]:
# delete the first row
df_dep_t_new = df_dep_t[1:]

In [ ]:
df_dep_t_new

In [ ]:
# set new_header as the header for df_dep_t_new
df_dep_t_new.columns = new_header

In [ ]:
df_dep_t_new

# Data Dictionary

In [ ]:
# create data dictionary from df_dep_t_new
data_dict = df_dep_t_new.to_dict('index')

In [ ]:
data_dict

## Testing the Data Dictionary

In [ ]:
df_prods.head()

In [ ]:
print(data_dict.get('19'))

# Subsetting

In [ ]:
# create subset that contains only data from the snacks department
df_snacks = df_prods[df_prods['department_id']==19]

In [ ]:
df_snacks.head()

# Task

## 2. Find another identifier variable in the df_ords dataframe that doesn’t need to be included in your analysis as a numeric variable and change it to a suitable format.

In [ ]:
# change user_id data type to string
df_ords['user_id'] = df_ords['user_id'].astype('str')

In [ ]:
df_ords['user_id'].dtype

## 3. Look for a variable in your df_ords dataframe with an unintuitive name and change its name without overwriting the dataframe.

In [ ]:
# rename days_since_prior_order column in orders.csv
df_ords.rename(columns = {'days_since_prior_order' : 'days_since_last_order'}, inplace = True)

In [ ]:
df_ords.head()

## 4. Your client wants to know what the busiest hour is for placing orders. Find the frequency of the corresponding variable and share your findings.

In [ ]:
# busiest hour for placing orders = 10am
df_ords['order_hour_of_day'].value_counts(dropna = False)

## 5. Determine the meaning behind a value of 4 in the "department_id" column within the df_prods dataframe using a data dictionary.

In [ ]:
print(data_dict.get('4'))

## 6. The sales team in your client’s organization wants to know more about breakfast item sales. Create a subset containing only the required information.

In [ ]:
#create dataframe using only breakfast data
df_breakfast = df_prods[df_prods['department_id']==14]

In [ ]:
df_breakfast

## 7. They’d also like to see details about products that customers might use to throw dinner parties. Your task is to find all observations from the entire dataframe that include items from the following departments: alcohol, deli, beverages, and meat/seafood. You’ll need to present this subset to your client.

In [ ]:
# create dinner parties dataframe
df_dinnerparties = df_prods.loc[df_prods['department_id'].isin([5, 20, 7, 12])]

In [ ]:
df_dinnerparties

## 8. It’s important that you keep track of total counts in your dataframes. How many rows does the last dataframe you created have?

In [ ]:
df_dinnerparties.shape

## 9. Someone from the data engineers team in Instacart thinks they’ve spotted something strange about the customer with a "user_id" of “1.” Extract all the information you can about this user.

In [ ]:
# Create subset for user_id 1
df_userid_1 = df_ords.loc[df_ords['user_id']=='1']

In [ ]:
df_userid_1

## 10. You also need to provide some details about this user’s behavior. What basic stats can you provide based on the information you have?

In [ ]:
# descriptive stats for user_id 1
df_userid_1.describe()

## 12. Export your df_ords dataframe as “orders_wrangled.csv” in your “Prepared Data” folder.

In [ ]:
df_ords